* {
  margin: 0;
  padding: 0;
  font-size: 10px;
}

*::selection {
  background-color: #c7e0f4;
  color: purple;
}
/* 滚动条样式 */
::-webkit-scrollbar {
  width: 4px;
  height: 6px;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;

  background-color: #fff;

}

::-webkit-scrollbar-thumb {
  background-color: #c7e0f4;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

/* html,body{
  height: 100%;
} */